@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap");
body {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}
.App {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
